body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #40514E;
}

hr{
    border-style: dotted none none none;
    width: 7%;
    margin-top: 6%;
    border-width: 5px;
    border-color: #EAF6F6;

}
h1{
    color: #66BFBF;
    margin: 0;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

.f-wt{
    font-weight: normal;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover{
color: #EAF6F6;
}

.top-container{
    background-color: #E4F9F5;
    text-align: center;
}

.des{
    text-decoration: underline;
}

.intro{
width: 30%;
margin: auto;
}

.top-cloud{
   position: relative;
   left: 15%;
   margin-top: 3%;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 15px;
}

.middle-container{
    margin-top: 5%;
    text-align: center;
}
.profile{
    margin-top: 2%;
    
}

.gif1{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.gif2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

p{
    line-height: 2;
}
.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
}

.bottom-container{
    text-align: center;
    background-color: #66BFBF;
    padding: 2%;
    margin-top: 5%;
}

.final{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.mountain{
    margin-top: 5%;
    text-align: center;
}

.contact{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
   background-image: -o-linear-gradient(top, #11CDD4, #11999A);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999A);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 137px;
   font-size: 20px;
   font-weight: 600;
   padding: 26px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
